:root {
    --node-size: 25px;
}

html {
    font-family: 'Arial', sans-serif;
}

body {
    margin: 0;
    background: whitesmoke;
}

label {
    margin-left: 1em;
    margin-right: 0.25em;
}

input {
    width: 5em;
    text-align: center;
}

.btn {
    margin: 1em;
    padding: 0.5em 1em;
}

.room-form {
    margin: auto;
    display: flex;
    align-items: center;
}

.room {
    width: fit-content;
    margin: 2em auto;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.grid {
    position: relative;
    outline: 2px solid gray;
    margin: 2rem auto;
    width: fit-content;
    padding: 0;
    margin: 0;
}

.grid-row {
    line-height: 0;
}

.grid-row > * {
    display: inline-block;
}

.node {
    width: var(--node-size);
    height: var(--node-size);
    border: 1px solid gray;
    align-self: flex-start;
}

.node--filled {
    background: lightskyblue;
}

.node--invisible {
    background: transparent;
}

.node--furnishing {
    position: absolute;
}

.red {
    background: indianred;
}

.blue {
    background: cornflowerblue;
}

.green {
    background: mediumseagreen;
}

.purple {
    background: purple;
}

.pink {
    background: fuchsia;
}

.yellow {
    background: yellow;
}

.orange {
    background: orange;
}

.furnishing {
    position: absolute;
    top: 0;
    left: 0;
}