html {
    font-family: 'Arial', sans-serif;
}

body {
    margin: 0;
    background: whitesmoke;
}

.grid {
    outline: 1px solid gray;
    width: max-content;
    margin: 2rem auto;
}

.grid-row {
    display: flex;
}

.node {
    width: 20px;
    height: 20px;
    border: 1px solid gray;
}

.node--filled {
    background: lightskyblue;
}

.node--invisible {
    background: transparent;
}

.red {
    background: indianred;
}

.blue {
    background: cornflowerblue;
}

.green {
    background: mediumseagreen;
}

.purple {
    background: purple;
}

.pink {
    background: fuchsia;
}

.yellow {
    background: peru;
}

.orange {
    
}

.furnishing {
    display: grid;
}